.card {
    height: 700px;
    width: 500px;
    border-radius: 20px;
    margin-bottom: 50px;
    
}

.projCardImgContainer {
    height: 30%;
    width: 100%;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
}

.card:hover .projCardImg {
    transform: scale(1.05);
    transition: transform 1s ease-in-out;
}

.card .projCardImg {
    transform: scale(1);
    transition: transform 0.5s ease-in-out;
}

.projCardImg {
    object-fit: cover;
    object-position: 50% 50%;
    height: 100%;
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.card-body {
    height: 80%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 20px 20px;
}

.card-body h2.card-title {
    height: 30%;
    position: relative;
}

.card-body p {
    position: relative;
    line-height: 1.2em; /* Set the line height based on your design */
    max-height: 70%;
    overflow-y: scroll;
    padding-right: 5px;
}

.card-body p::-webkit-scrollbar {
    width: 5px;
  }

.card-body p::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
}

.card-body p::-webkit-scrollbar-thumb {
    background: #602edd;
    border-radius: 10px;
  }



.card-body p::before {
    content: "";
    display: block;
    position: sticky;
    top: 0;
    right: 0;
    width: 100%;
    height: 1.2em;
    background: linear-gradient(to top, transparent, 50%, #15191e);
    z-index: 1;
}

.card-body p::after {
    content: "";
    display: block;
    position: sticky;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1.2em;
    background: linear-gradient(to bottom, transparent, 50%, #15191e);
    z-index: 1;
}

input[type=text].search {
    float: right;
    margin-bottom: 32px;
    margin-right: 16px;
    font-size: 17px;
}
